<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Item List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <div id="div-container">
            <h1>Quantity</h1>
            <!-- Form for entering quantity and generating items -->
            <form id="itemForm" action="/generate" method="POST">
                <label for="quantity">Enter quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" required>
                <button type="submit">Generate</button>
            </form>
        </div>
    </main>
        
    <!-- Container where dynamically generated items will be displayed -->
    <div id="items-container">
        <% if (typeof numbers !== 'undefined') { %>
            <% numbers.forEach((number) => { %>
                    <div class="item">
                        <p class="number">
                            <%= number %>
                        </p>
                    </div>
            <% }); %>
        <% } %>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>
